* {
    font-family: monaco;
}
.container{
    width: 85%; 
    height: auto;
    margin: 0px auto;
}
header{
    padding: 20px;
}
.box-shadow{
    padding: 10px;
    box-shadow: 5px 10px 10px 1px #888888;
}
.subtitulo{
    text-align: center;
    color: darkgray;
}
.capa{
    width: 240px;
    height: 240px;
    padding: 10px;
}
.totalizador{
    width: max-content;
    float: right;
}
